<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"



    package="com.example.lyrio">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/lyr_new_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/lyr_new_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".modules.view.setup.ConfiguracoesActivity"></activity>
        <activity android:name=".modules.view.noticia.NoticiaActivity" />
        <activity android:name=".modules.view.Artista.PaginaArtistaActivity" />
        <activity android:name=".modules.view.noticia.ListaNoticiaSalvaActivity" />
        <activity android:name=".modules.view.Artista.ListaArtistasSalvosActivity" />
        <activity android:name=".modules.view.musica.ListaMusicaSalvaActivity" />
        <activity android:name=".modules.view.Album.ListaAlbumActivity" />
        <activity android:name=".modules.view.noticia.VagalumeAbrirLink" />
        <activity android:name=".modules.view.login.LoginActivity" />
        <activity android:name=".modules.view.menu.TabMenu" />
        <activity android:name=".modules.view.musica.TelaLetras" />
        <activity android:name=".modules.view.login.UserEsqueciMinhaSenha" />
        <activity android:name=".modules.view.login.UserCadastroActivity" />
        <activity android:name=".modules.view.login.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>